@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Site.css" />

<div class="jumbotron jumbotron-fluid" style="text-align: center; box-shadow: 5px 8px 12px black;">
    <img id="dsm5-cover" src="~/Content/images/DSM5.jpg" alt="DSM-5" style="width: 175px; height: 250px;  align-self: center; box-shadow: 5px 10px 18px black;" />
    <h1 style="text-align: center">DSM-<i>5</i></h1>
    <p class="lead" style="text-align:center">Welcome to a Web MVC application that features the knowledge and utility of the DSM-5, the "Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition". This application uses the taxonomic categories, symptoms, and comorbidities associated with all psychiatric disorders professionals use to diagnose their patients.</p>
    <p id="apa-button" style="text-align: center"><a href="https://www.psychiatry.org/psychiatrists/practice/dsm/educational-resources/dsm-5-fact-sheets" class="btn btn-primary btn-md align-self-center" >APA - American Psychiatric Association &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Disorders</h2>
        <p>
            Psychiatric professionals use criteria outlined in the DSM-5 to diagnose patients, although not every patient fits into a diagnosis as their symptoms are only mildly expressed. Each disorder has an ICD-10-CM or "F-Code" assigned to them as designated by the <a href="https://www.cdc.gov/nchs/icd/icd10cm.htm">CDC</a> and World Health Organization, a category it falls under, symptoms and criteria, as well as other diseases it is often found alongside (i.e. Comorbidity).
        </p>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("See Disorders", "Index", "Disorder")
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("Add Disorder", "Create", "Disorder")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <p>
            The DSM-5 breaks down disorders into over 20 different diagnostic distinctions based upon congruent symptoms and criterion. This allows professionals to accurately narrow down a patient's area of dysfunction.
        </p>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c; ">
                        @Html.ActionLink("See Categories", "Index", "Category")
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("Add Category", "Create", "Category")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <h2>Symptoms</h2>
        <p>
            Psychiatric symptoms are as diverse and malleable as any other disease, and are often both idiosyncratic and broad in their definition. This can make diagnosing individuals difficult and sometimes require specification of mild, intermediate, severe criterion designations for certain disorders.
        </p>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("See Symptoms", "Index", "Symptom")
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("Add Symptom", "Create", "Symptom")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <h2>Disorder Symptoms</h2>
        <p>
            As mentioned above, symptoms designate the disorder present. Each disorder has a set of criteria required for a diagnosis to be made and individuals can express some or all of the symptoms listed in the disorder.
        </p>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("See Disorder Symptoms", "Index", "DisorderSymptom")
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("Add Symptom To Disorder", "Create", "DisorderSymptom")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
        <h2>Comorbidity</h2>
        <p>
            With symptoms sometimes being as broad as they are there is a lot of overlap with other diagnosis. Certain diagnoses have the possibility of being comorbid with other disorders as a patient's symptoms may be expressed in a way that fits multiple diagnosis. The DSM-5 ensures to mention possible comorbidities tying disorders together.
        </p>
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("See Comorbidities", "Index", "Comorbidity")
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li class="btn btn-default" style="box-shadow: 2px 4px 6px #00bc8c;">
                        @Html.ActionLink("Add Comorbidity To Disorder", "Create", "Comorbidity")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
